<div class="col">
	<a class="row border film-card text-light border-secondary text-decoration-none rounded-3 bg-secondary py-0 py-sm-2" style="height: 230px" href="{{ path('film_show', {'id': film.id}) }}">
		<img class="col film my-auto px-1" src="{{ film.poster }}" alt="Affiche de {{ film.title }}">
		<div class="col position-relative">
			<h5 class="row align-self-start fw-bold pb-2 border-bottom border-ligth">
				{{ film.title }}
			</h5>
			<h6 class="row align-self-end">
				{{ film.year }}
			</h6>

			<div class="row position-absolute bottom-0 start-0">
				{% if app.user in film.owner %}
					<i class="col-1 bi bi-bookmark-check-fill"></i>
				{% endif %}
				{% if film.borrowings.snapshot %}
					{% for borrowing in film.borrowings.snapshot %}
						{% if borrowing.owner == app.user %}
							<i class="col-1 bi bi-box-arrow-right"></i>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</a>
</div>
