{% extends 'base.html.twig' %}

{% block title %}Film index
{% endblock %}

{% block body %}
	<h1>
		{% if app.request.getPathInfo() == "/film/myfilms" %}
			Mes DVDs
		{% else %}
			Liste Complète
		{% endif %}
	</h1>
	{% if shownUser is defined and app.user == shownUser %}
		<a class="btn btn-primary ms-2" href="{{ path('film_new') }}">Ajouter un film</a>
	{% endif %}

	<table class="table">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Année</th>

				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for film in films %}
				<tr>
					<td><img src="{{ film.poster }}" alt="" srcset=""></td>
					<td>{{ film.title }}</td>
					<td>{{ film.year }}</td>

					<td>
						<a class="btn btn-primary" href="{{ path('film_show', {'id': film.id}) }}">Détail</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
