{% if borrowed is empty %}

	{{ form_start(borrow_form) }}

	{{ form_row(borrow_form.borrowed) }}
	<div class="border border-5 rounded-3 border-secondary my-2 px-2 align-items-center" id="borrowForm" hidden>
		<div class="py-2 justify-content-center">
			{{ form_row(borrow_form.dateBorrowed) }}
		</div>
		<div class="py-2">
			{{ form_row(borrow_form.borrower) }}
		</div>
		<div class="py-2 container-fluid d-flex justify-content-center">
			{{ form_row(borrow_form.submit) }}
		</div>
	</div>
	{{ form_end(borrow_form) }}

{% else %}
<div class="border border-5 rounded-3 border-secondary my-2 p-2 align-items-center">
	<p>Prêté ✅</p>
	<p>À:
		{{ borrowed.borrower.username }}
	</p>
	<p>Le:
		{{ borrowed.dateBorrowed|date("d/m/Y") }}</p>

	{% include "borrowing/_remove_borrowing_form.html.twig" %}

	</div>
{% endif %}
