{% set menu_link = {
	'film_list': 'Mes DVDs',
	'film_index': 'Tous les DVDs',
	'film_new': 'Ajouter un film',
	'user_index': 'Utilisateurs',
	'logout': 'Déconnexion',
} %}

<nav class="navbar navbar-expand-md navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand btnMenu" href="{{ path('film_list', {'id': app.user.id}) }}"><img src="{{ asset('build/images/DBDVD.png') }}" alt="DBDVD"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				{% for link, title in menu_link %}
					{% if link == app.request.attributes.get('_route') %}
						{% set class = 'nav-link menu active' %}
						{% else %}
							{% set class = 'nav-link menu' %}
					{% endif %}
					{% if link == 'film_list' %}
						{% set href = path(link, {'id': app.user.id}) %}
					{% else %}
						{% set href = path(link) %}
					{% endif %}
					<a class="{{ class }}" href="{{ href }}">{{ title }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</nav>
