<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<script src="/build/app.js"></script>
		<title>
			{% block title %}Projet 3 Name
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body class="container-fluid">
		{% if is_granted('ROLE_USER') %}
			{% include "_navbar.html.twig" %}
		{% else %}
			{% include "_navbar_anonymous.html.twig" %}
		{% endif %}
		{{ include("_banner.html.twig", {title: title}) }}
		{#	{{ include ("_banner.html.twig") }}#}
		{% block body %}{% endblock %}
	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html>
